<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {# <link rel="stylesheet" href="{{ asset('../assets/styles/util/sidebar.css') }}"> #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('sidebar') }}
        {% endblock %}

    </head>
    <body>
        {% block sidebar %}
            <!-- Sidebar -->
           <button id="sidebar-toggle" class="text-white">☰</button>
            <aside class="sidebar w-64 text-white flex flex-col">
                
                <div class="sidebar-header p-6 text-center font-bold text-xl"> 
                    Symfony Dashboard
                </div>
                <nav class="flex-1 p-4">
                    <ul>
                        <li>
                            <a href="#" class="block py-2 px-4 rounded">Home</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-4 rounded">Reports</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 px-4 rounded">Settings</a>
                        </li>
                    </ul>
                </nav>
                <div class="sidebar-footer p-4">
                    <a href="#" class="block py-2 px-4 text-sm">Logout</a>
                </div>
            </aside>
        {% endblock %}

        {% block body %}
        {% endblock %}
        
        <script src="{{ asset('build/app.js') }}" defer></script>
        <script src="{{ asset('build/sidebar.js') }}" defer></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
